#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	PYTHONNOUSERSITE=1 \
	PYTHONPATH=$$(find .pybuild -type d -name build -print -quit) \
	python3 -c 'from crypto.hybrid_crypto import get_crypto_status; status = get_crypto_status(); print("pqc_mode:", status["pqc_mode"])'
